/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  width: 375px;
  background-image: var(--bg-page, url(../images/cover-image-dark.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding: var(--page-padding, 10px);
  display: grid;
  block-size: 668px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.decorated-zone {
  position: relative;
}

.header__decorated-element{
  position:absolute;
  justify-self: end;
  display: flex;
  align-self: center;
  top: 10px;
  right: 19px;
  gap: var(--page-gap, 10px);
  
  
}

.header__decorated-element::before {
  content: 'rec';
  display: block;
  min-height: 26px;
  min-width: 33px;
  font-family: var(--font-text, 'IBM Plex mono'), sans-serif;
  color: var(--accent-color, #ff0070);
  font-size: var(--text-size, 18px);
  line-height: 1.39;
  text-transform: uppercase;
  justify-self: center;
  align-self: end;  
}

.header__decorated-element::after {
  content: '';
  display: block;
  inline-size: 9px;
  block-size: 9px;
  justify-self: end;
  align-self: center;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px  var(--accent-color, #ff0070);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25.04px;
  border-top: 1px solid var(--accent-color, #ff0070);
  border-right: 1px solid var(--accent-color, #ff0070);
  justify-self: end;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  block-size: 25px;
  inline-size: 25.04px;
  border-block-end: 1px solid var(--accent-color, #ff0070);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  left: 10px;/*  */
  bottom: 10px;
}

.header__theme-menu {
  align-content: center;
  
}

.header__theme-menu-list {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: var(--page-gap, 10px);
  align-self: end;
  margin-block-start: 8.5px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 2px 13px;
  font-size: var(--text-size, 18px);
  font-family: var(--font-text, 'IBM Plex mono'), sans-serif;
  text-transform: lowercase;
  color: var(--accent-color);
  align-self: center;
  justify-self: center;

}

.header__title {
  grid-row: 2;
  display: block;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  color: var(--title-text-color, #db00ff);
  font-weight: var(--text-bold, bold);
  font-family: var(--font-text, 'IBM Plex mono');
  line-height: 0.83;
  justify-self: start;
  align-self: center;

}

.title-decor{
  background-color: var(--accent-color);
  color: var(--title-decor-text-color, #000026);
  font-family: var(--font-text);
  font-weight: var(--text-bold);
  font-size: var(--text-size, 18px);
  line-height: 1.31;
}

.header__title__description {
  grid-row-start: 3;
  display: block;
  justify-self: start;
  align-self: center;
  margin-block-end: 13px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--page-padding);
}








  
  

