/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-text-color :#db00ff;
  --title-decor-text-color: #000028;
  --accent-color: #ff0070;
  --text-size: 1.125rem;
  --font-text: 'IBM Plex mono';
  --text-bold: bold;
  --text-normal: normal;
  --page-padding: 10px;
  --page-gap: 20px;
  --text-gap: 10px;
  --bg-page: url(../images/cover-image-dark.png);
  --lh-text: 130%;
  --margin-section-end: 30px;
  --card-text-color: #f182ce;  
  
}